<section class="leader-board leader-board--green">
  <div class="leader-board__place leader-board__place--leader1">
    <img class="leader-board__place-img" src="../../assets/leader-board-assets/1.svg" alt="1st">
  </div>
  <img class="leader-board__picture" src="../../assets/leader-board-assets/leader-1.svg" alt="profile picture">
  <div class="leader-board__info">
    <h3 class="leader-board__leader-name">
      Roger Korsgaard
      <img class="leader-board__leader-name-check" src="../../assets/leader-board-assets/check.svg" alt="checked">
    </h3>
    <div class="leader-board__info-bottom">
      <div class="leader-board__stats">
        <p class="leader-board__text">20</p>
        <p class="leader-board__text leader-board__text--small">Alerts</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">85%</p>
        <p class="leader-board__text leader-board__text--small">Win Rate</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">11%</p>
        <p class="leader-board__text leader-board__text--small">Yield</p>
      </div>
      <div class="leader-board__profit-info">
        <p class="leader-board__profit leader-board__profit--green">+ $7,500</p>
        <p class="leader-board__profit leader-board__profit--green leader-board__profit--small">45%</p>
      </div>
    </div>
  </div>
</section>

<section class="leader-board leader-board--green">
  <div class="leader-board__place leader-board__place--leader2">
    <img class="leader-board__place-img" src="../../assets/leader-board-assets/2.svg" alt="1st">
  </div>
  <img class="leader-board__picture" src="../../assets/leader-board-assets/leader-2.svg" alt="profile picture">
  <div class="leader-board__info">
    <h3 class="leader-board__leader-name">
      Charlie Herwitz
      <img class="leader-board__leader-name-check" src="../../assets/leader-board-assets/check.svg" alt="checked">
    </h3>
    <div class="leader-board__info-bottom">
      <div class="leader-board__stats">
        <p class="leader-board__text">20</p>
        <p class="leader-board__text leader-board__text--small">Alerts</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">85%</p>
        <p class="leader-board__text leader-board__text--small">Win Rate</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">11%</p>
        <p class="leader-board__text leader-board__text--small">Yield</p>
      </div>
      <div class="leader-board__profit-info">
        <p class="leader-board__profit leader-board__profit--green">+ $1,430</p>
        <p class="leader-board__profit leader-board__profit--green leader-board__profit--small">25%</p>
      </div>
    </div>
  </div>
</section>

<section class="leader-board leader-board--red">
  <div class="leader-board__place leader-board__place--leader3">
    <img class="leader-board__place-img" src="../../assets/leader-board-assets/3.svg" alt="1st">
  </div>
  <img class="leader-board__picture" src="../../assets/leader-board-assets/leader-3.svg" alt="profile picture">
  <div class="leader-board__info">
    <h3 class="leader-board__leader-name">
      Ahmad Mango
    </h3>
    <div class="leader-board__info-bottom">
      <div class="leader-board__stats">
        <p class="leader-board__text">20</p>
        <p class="leader-board__text leader-board__text--small">Alerts</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">85%</p>
        <p class="leader-board__text leader-board__text--small">Win Rate</p>
      </div>
      <div class="leader-board__stats">
        <p class="leader-board__text">11%</p>
        <p class="leader-board__text leader-board__text--small">Yield</p>
      </div>
      <div class="leader-board__profit-info">
        <p class="leader-board__profit leader-board__profit--red">- $1,500</p>
        <p class="leader-board__profit leader-board__profit--red leader-board__profit--small">10%</p>
      </div>
    </div>
  </div>
</section>
