.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 21px;
}

.status-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.main-container__top-bar {
  margin-bottom: 24px;
}
