<div class="top-bar">
  <div class="top-bar__profile-picture">
    <img
      class="top-bar__picture"
      src="../../assets/top-bar-assets/profile-img.svg"
      alt="">
    <p class="top-bar__initials">AG</p>
  </div>

  <div class="top-bar__info">
    <p class="top-bar__name">Alex G</p>
    <div class="top-bar__info-bottom-row">
      <img  class="top-bar__bits-logo" src="../../assets/top-bar-assets/the-X.svg" alt="">
      <span class="top-bar__bits">3000 xBits</span>
      <img  class="top-bar__place-logo" src="../../assets/top-bar-assets/Crown.svg" alt="">
      <span class="top-bar__place">85</span>
    </div>
  </div>

  <a class="top-bar__add-friend">
    <img
      class="top-bar__add-friend-img"
      src="../../assets/top-bar-assets/add-friend.svg"
      alt=""
    >
  </a>
</div>
